:root{
    --custom-color:rgb(31, 87, 105); 
}
body{
    background:linear-gradient(to bottom,rgba(228, 238, 236, 0.788),rgb(149, 204, 197));
}
.list-item .item{
    list-style-type: none;
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 50px;
}
.sec1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin-top: 90px;
    gap:250px;
}
.link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
header{
    display: flex;
    gap:450px;

}
.big-container{
    margin-left:120px;
    margin-right: 120px;
}
#per-details{
    margin-top:30px;
}
#my-image{
    margin-top: 50px;
    border-radius: 50%;
}
.link:hover{
    color:var(--custom-color);
}
button{
    font-size: 1.5rem;
    border-radius: 5px;
    border-style: none;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(to left,rgb(136, 54, 136),rgb(204, 146, 204));
    color: white;
    
}
.sec2{
    margin-top: 150px;
}
.head{
    color: var(--custom-color);
    font-weight: 800;
    font-size: 35px;
}
.para{
    margin-top: -25px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 700;
}
#photo{
    border-radius: 5px;
    margin-top: 30px;
}
#photo2{
    border-radius: 5px;
}
.images{
    margin-right: 30px;
}
.sec3{
    display: flex;
    gap: 200px;
    margin-top: 150px;
}
.mini-para{
    line-height: 23px;
    font-size: 15px;
    margin-top: -20px;
    letter-spacing: 1px;
}
.sec3 div ul li{
    display: inline-block;
    padding-left: 20px;
    color: var(--custom-color);
}
.sec4,.sec5{
    margin-top: 150px;
    display: flex;
    gap:100px;
}
.sec5{
    gap:50px;
}
.sect{
    margin-top: 150px;
    margin-bottom: -120px;
}
#left-side{
    min-width: 40%;
    /* margin-top: 5px; */
}
#right-side{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 220px;
    gap:20px;
    row-gap: 50px;
    margin-top: 15px;
}
i{
    padding-left: 10px;
    font-size: 20px;
}
.head2{
    font-size: 35px;
    color: var(--custom-color);
    margin-top: -0.8px;
}
.para2{
    font-size:30px;
    font-weight: 800;
    margin-top: -22px;
}
.para3{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 23px;
    margin-top: -20px;
}
.sec6{
    margin-top: -20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
.head3{
    color: var(--custom-color);
}
.para4{
    font-weight:800 ;
    margin-top: -15px;
    font-size: 20px;
}
li{
    list-style-type: none;
    display: inline-block;
    margin-top: -20px;
}
.head4{
    color: var(--custom-color);
    font-size: 30px;
    font-weight: 800;
}
.para5{
    font-size: 25px;
    font-weight: 800;
    margin-top: -20px;
}
.block{
    display: flex;
    gap:20px;
}
footer{
    display: flex;
    gap:250px;
}
.icons{
    margin-top: 12px;
}
.details{
    font-size: 15px;
    padding-top: 10px;
    color:var(--custom-color)
}
.per{
    margin-top: -10px;
}
.sec7{
    margin-top: 150px;
}
.foot {
    background-color: black;
    color:white;
}
